<>
  <effect meta={{}} run={async () => {}} />
  <div
    class={`flex self-stretch flex-col space-y-5 items-start justify-start bg-trueGray-100`}
  >
    <div class="flex self-stretch flex-col items-start justify-start px-5 py-4 bg-white">
      <div class="flex self-stretch items-start justify-start">
        <div class="flex flex-1 flex-col space-y-2.5 items-start justify-start px-1.5 py-2">
          <div style="background-image: url('/fimgs/bg-c9d388df39247bf6e7f2bb0c0d8c33f8bc2737b2');background-size:100% 100%;background-repeat:no-repeat;" />
        </div>
        <div style="background-image: url('/fimgs/bg-09715670a2a275b8081f0960fcdfc7a94ae500ec');background-size:100% 100%;background-repeat:no-repeat;" />
      </div>
    </div>
    <div class="flex self-stretch flex-col items-center justify-center px-6">
      <div class="flex self-stretch flex-col items-start justify-start">
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-14 items-start justify-start">
            <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-14 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-14 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-14 items-start justify-start">
                    <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
                      <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                        <div class="text-2xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                          Kelola daftar kebutuhanmu secara efektif dan efesien
                        </div>
                        <div class="text-lg tracking-wide leading-relaxed text-center text-coolGray-600">
                          Mudah, cepat, efektif dan efesien
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col items-center justify-center">
                        <div class="flex items-center justify-center px-4 py-2 bg-indigo-500 rounded">
                          <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                            Mulai Sekarang
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex self-stretch items-start justify-start py-0.5 px-4 bg-gray-600 rounded-lg">
                      <div
                        class="rounded-lg"
                        style="background-image: url('/fimgs/bg-e9a9fbb4126e2d0d914b4194930039162e84d7b7');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                    </div>
                    <div class="flex flex-1 self-stretch flex-col items-center justify-center">
                      <div class="flex items-start justify-start pr-72 pb-8">
                        <img
                          src="/fimgs/104_130.x1.png"
                          style="width: 356px; min-width: 356px; max-width: 356px; height: 273.13px; min-height: 273.13px; max-height: 273.13px;background-image: url('/fimgs/bg-c441185ee3ae373e3fda11f830d8a8b6563aaa8c');background-size:100% 100%;background-repeat:no-repeat;"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                    Keuntungan yang akan anda peroleh menggunakan List Wae
                  </div>
                </div>
                <div class="flex items-start justify-start pl-8 pr-4 bg-white rounded-full">
                  <div class="flex flex-col justify-center">
                    <div style="background-image: url('/fimgs/bg-031f1edcb88cab3c995a5987d6f1303c4b8fb117');background-size:100% 100%;background-repeat:no-repeat;" />
                    <div style="background-image: url('/fimgs/bg-9b09c27d4a0c07100fea98d494d11f8bf8e54083');background-size:100% 100%;background-repeat:no-repeat;" />
                    <div class="opacity-40 bg-indigo-500 bg-opacity-30 rounded-full" />
                    <div class="opacity-40 bg-indigo-500 bg-opacity-30 rounded-full" />
                    <div style="background-image: url('/fimgs/bg-e4847e6f2e3b09048127b82e812395b2cb838e49');background-size:100% 100%;background-repeat:no-repeat;" />
                    <div class="opacity-40 bg-indigo-500 bg-opacity-30 rounded-full" />
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <img
                    src="/fimgs/102_150.x1.png"
                    style="width: 356px; min-width: 356px; max-width: 356px; height: 500px; min-height: 500px; max-height: 500px;background-image: url('/fimgs/bg-2a831de0fff70a209711da1ba6feeaaef841b8a1');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                <div class="flex self-stretch space-x-2.5 items-start justify-start">
                  <img
                    src="/fimgs/102_162.x1.png"
                    style="width: 26.67px; min-width: 26.67px; max-width: 26.67px; height: 24px; min-height: 24px; max-height: 24px;background-image: url('/fimgs/bg-806abaad069e0509fd278a4af6c22654fb7c622c');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                  <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                    <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
                      Mudah, efektif dan efesien
                    </div>
                    <div class="text-sm tracking-wide leading-tight text-coolGray-600">
                      Anda dapat dengan mudah melakukan management daftar
                      kebutuhan kapanpun
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch space-x-2.5 items-start justify-start">
                  <img
                    src="/fimgs/102_163.x1.png"
                    style="width: 26.67px; min-width: 26.67px; max-width: 26.67px; height: 24px; min-height: 24px; max-height: 24px;background-image: url('/fimgs/bg-806abaad069e0509fd278a4af6c22654fb7c622c');background-size:100% 100%;background-repeat:no-repeat;"
                  />
                  <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                    <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
                      Estimasi pengeluaran kebutuhan
                    </div>
                    <div class="text-sm tracking-wide leading-tight text-coolGray-600">
                      Dengan estimasi saldo bulanan anda dapat mengatur
                      pengeluaran kebutuhan
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch space-x-2.5 items-start justify-start">
                  <div style="background-image: url('/fimgs/bg-806abaad069e0509fd278a4af6c22654fb7c622c');background-size:100% 100%;background-repeat:no-repeat;" />
                  <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                    <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
                      Pencapaian daftar kebutuhan
                    </div>
                    <div class="text-sm tracking-wide leading-tight text-coolGray-600">
                      Anda dapat melihat daftar kebutuhan yang sedang
                      berlangsung dan selesai
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
              Cari tau sekarang apa yang mereka katakan tentang ListWae
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="flex self-stretch space-x-2 items-start justify-start">
              <div class="flex flex-1 flex-col items-start justify-start px-2 py-6 bg-white border rounded-lg border-indigo-500">
                <div class="flex self-stretch flex-col space-y-5 items-center justify-center">
                  <div class="flex self-stretch space-x-4 items-center justify-start">
                    <div class="flex flex-col">
                      <div class="bg-warmGray-300 rounded-full" />
                      <div
                        class="absolute left-0 top-0"
                        style="background-image: url('/fimgs/bg-c08001d2ae143864847c5e01ef519da7e77cd41b');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                    </div>
                    <div class="text-2xl font-medium tracking-wide leading-loose text-gray-600">
                      Afif Hanifudin
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start p-2.5">
                    <div class="text-sm tracking-wide leading-tight text-justify text-warmGray-500">
                      Saya dapat melakuakan todo list kebutuhan dengan mudah dan
                      juga fitur fitur yang diberikan kepada pengguna cukup
                      memudahkan saya untuk memanagement kebutuhan
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-14 items-center justify-center">
            <div class="bg-coolGray-200 rounded-full" />
            <div class="bg-indigo-500 rounded-full" />
            <div class="bg-coolGray-200 rounded-full" />
            <div style="background-image: url('/fimgs/bg-2edca9e78e3cd36b0849ae37dc1678b6ae3c55c0');background-size:100% 100%;background-repeat:no-repeat;" />
            <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                  Tunggu apa lagi? Buktikan sekarang juga!
                </div>
                <div class="text-sm tracking-wide leading-tight text-center text-coolGray-600">
                  Daftar sekarang juga, anda akan mendapatkan keuntungan
                  menggunakan ListWae
                </div>
              </div>
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex items-center justify-center px-4 py-2 bg-indigo-500 rounded">
                  <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                    Mulai Sekarang
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch flex-col space-y-10 items-start justify-start p-6 bg-indigo-500">
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
        <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center px-0.5 py-1.5">
          <div style="background-image: url('/fimgs/bg-615e643502ee64a4a01a64ebd0e032d793a643b8');background-size:100% 100%;background-repeat:no-repeat;" />
        </div>
        <div class="text-sm tracking-wide leading-tight text-coolGray-200">
          LIstWae merupakan platfrom website yang dapat membantu melakukan
          daftar kebutuhan secra efisien
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
        <div class="flex self-stretch space-x-64 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base font-medium tracking-wide leading-normal text-white">
              Links
            </div>
          </div>
          <div style="background-image: url('/fimgs/bg-860dfd49bdc0f89deba2643534e617afa1bd41cf');background-size:100% 100%;background-repeat:no-repeat;" />
        </div>
        <div class="flex self-stretch space-x-64 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base font-medium tracking-wide leading-normal text-white">
              Company
            </div>
          </div>
          <div style="background-image: url('/fimgs/bg-860dfd49bdc0f89deba2643534e617afa1bd41cf');background-size:100% 100%;background-repeat:no-repeat;" />
        </div>
        <div class="flex self-stretch space-x-64 items-start justify-start">
          <div class="flex flex-1 items-start justify-start">
            <div class="text-base font-medium tracking-wide leading-normal text-white">
              Social Media
            </div>
          </div>
          <div style="background-image: url('/fimgs/bg-860dfd49bdc0f89deba2643534e617afa1bd41cf');background-size:100% 100%;background-repeat:no-repeat;" />
        </div>
      </div>
    </div>
  </div>
</>